body {
	font-family: 'Lato', sans-serif;
	background: #354554;
	color: #ececec;
 	overflow: scroll;
}

.container {
	text-align: center;
}

.container h3.title {
	text-transform: uppercase;
	letter-spacing: .15em;
}

::-webkit-scrollbar {
    display: none;
}

#dots-containers {
	display: flex;
	overflow-x: scroll;
	width: 100%;
	text-align: center;
}

#lines {
	display: flex;
}

#dots {
	display: inline-block;
}

.dot {
	fill: rgba(0, 0, 0, 0);
	stroke: #ececec;
	stroke-opacity: 0.8;
	stroke-width: 1px;
}

.dot-not-visible {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(0, 0, 0, 0);
}


.dot-selected {
	fill: #ececec;
}

.dot-hover {
	fill: #ececec !important;
}

#profile {
	position: absolute;
	right: 10px;
}

#map {
	width: 100%;
	height: 450px;
}

.dot-slightly-visible {
	fill: rgba(236, 236, 236, .3);
}

.selected-song a {
	color: #26a69a !important;
}