body {
	font-family: 'Lato', sans-serif;
	background: #354554;
	color: #ececec;
}

.container {
	text-align: center;
}

.container h3.title {
	text-transform: uppercase;
	letter-spacing: .15em;
}

#lines, #dots {
	display: inline-block;
}

.dot {
	fill: rgba(0, 0, 0, 0);
	stroke: #ececec;
	stroke-opacity: 0.8;
	stroke-width: 1px;
}

.dot-selected {
	fill: #ececec;
}

.dot-hover {
	fill: #ececec !important;
}

#profile {
	position: absolute;
	right: 10px;
}
