<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
  <div class="container">
	<h3 class="title">Chorus</h3>
  <div id="buttons" class="container">
    <div class="row">
      <div class="col s4">
        <div class="col-content" onclick="return playMeasureHandler()"><button class="waves-effect waves-light btn">Play Measure</button></div>
      </div>
      <div class="col s4">
        <div class="col-content" onclick="return playSongHandler()"><button class="waves-effect waves-light btn">Play Song</button></div>
      </div>
      <div class="col s4">
        <div class="col-content" onclick="return clearNotes()"><button class="waves-effect waves-light btn">Clear</button></div>
      </div>
    </div>
  </div>
	<div class="container" id="dots"></div>
  </div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="static/js/Tone.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</html>
